// Code generated by Fern. DO NOT EDIT.

package filesystem

import (
	context "context"
	io "io"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns committed changes from the write-ahead log. Callers can use this feed to keep another projection synchronized with WAL history.
//
// Example:
//
//	request := &loonfs.ListChangesRequest{
//	    NamespaceID: "namespace_id",
//	    AfterSeq: int64(1000000),
//	}
//	client.Filesystem.ListChanges(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListChanges(
	ctx context.Context,
	request *loonfs.ListChangesRequest,
	opts ...option.RequestOption,
) (*loonfs.ChangesResponse, error) {
	response, err := c.WithRawResponse.ListChanges(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.
//
// Example:
//
//	request := &loonfs.CommitRequest{
//	    NamespaceID: "namespace_id",
//	    Actor: &loonfs.ActorRef{
//	        ID: "usr_8f3c",
//	        Kind: loonfs.ActorKindUser,
//	    },
//	    CommitID: "c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
//	    Operations: []*loonfs.FilesystemOperation{
//	        &loonfs.FilesystemOperation{
//	            CreateDirectory: &loonfs.FsOpCreateDirectory{
//	                Path: "/docs/report.txt",
//	            },
//	        },
//	    },
//	}
//	client.Filesystem.ApplyCommit(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ApplyCommit(
	ctx context.Context,
	request *loonfs.CommitRequest,
	opts ...option.RequestOption,
) (*loonfs.CommitResponse, error) {
	response, err := c.WithRawResponse.ApplyCommit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns file bytes for the current revision at a path, or for a specific retained revision when `revision_no` is provided.
//
// Example:
//
//	request := &loonfs.GetFileBytesRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	}
//	client.Filesystem.GetFileBytes(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFileBytes(
	ctx context.Context,
	request *loonfs.GetFileBytesRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.GetFileBytes(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.
//
// Example:
//
//	request := &loonfs.BeginDownloadRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "/docs/report.txt",
//	}
//	client.Filesystem.BeginDownload(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) BeginDownload(
	ctx context.Context,
	request *loonfs.BeginDownloadRequest,
	opts ...option.RequestOption,
) (*loonfs.BeginDownloadResponse, error) {
	response, err := c.WithRawResponse.BeginDownload(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists a directory at the current namespace head.
//
// Example:
//
//	request := &loonfs.ListPathEntriesRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	}
//	client.Filesystem.ListPathEntries(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListPathEntries(
	ctx context.Context,
	request *loonfs.ListPathEntriesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.AuthoritativePathEntry, *loonfs.ListPathEntriesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/filesystem/list",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListPathEntriesResponse) *core.PageResponse[*string, *loonfs.AuthoritativePathEntry, *loonfs.ListPathEntriesResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetEntries()
		return &core.PageResponse[*string, *loonfs.AuthoritativePathEntry, *loonfs.ListPathEntriesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.
//
// Example:
//
//	request := &loonfs.ListFileRevisionsRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	}
//	client.Filesystem.ListFileRevisions(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFileRevisions(
	ctx context.Context,
	request *loonfs.ListFileRevisionsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/filesystem/revisions",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListFileRevisionsResponse) *core.PageResponse[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetRevisions()
		return &core.PageResponse[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns the current metadata for a path, including inode identity, kind, display name, file content metadata, and the inode's attributes.
//
// Example:
//
//	request := &loonfs.StatPathRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	}
//	client.Filesystem.StatPath(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) StatPath(
	ctx context.Context,
	request *loonfs.StatPathRequest,
	opts ...option.RequestOption,
) (*loonfs.AuthoritativePathEntry, error) {
	response, err := c.WithRawResponse.StatPath(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the namespace's recoverable deletions, oldest deletion first. Entries never age out at the retention floor; each carries the inode id and deletion sequence undelete needs, plus the deleted name when the delete recorded one.
//
// Example:
//
//	request := &loonfs.ListTrashRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Filesystem.ListTrash(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListTrash(
	ctx context.Context,
	request *loonfs.ListTrashRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.TrashEntry, *loonfs.ListTrashResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/filesystem/trash",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListTrashResponse) *core.PageResponse[*string, *loonfs.TrashEntry, *loonfs.ListTrashResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetEntries()
		return &core.PageResponse[*string, *loonfs.TrashEntry, *loonfs.ListTrashResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
