// Code generated by Fern. DO NOT EDIT.

package checkpoints

import (
	context "context"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	admin "github.com/loonfs/loonfs-sdk-go/admin"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists one page of active checkpoints in checkpoint-id order. Expired checkpoints remain visible until collection releases them. Released checkpoints are omitted. The cursor resumes a live listing and does not create a snapshot.
//
// Example:
//
//	request := &admin.ListCheckpointsRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.Checkpoints.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *admin.ListCheckpointsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.Checkpoint, *loonfs.ListCheckpointsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/admin/namespaces/%v/checkpoints",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListCheckpointsResponse) *core.PageResponse[*string, *loonfs.Checkpoint, *loonfs.ListCheckpointsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetCheckpoints()
		return &core.PageResponse[*string, *loonfs.Checkpoint, *loonfs.ListCheckpointsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a named, user-owned checkpoint record pinning the current namespace view. Every call mints a new record under a new id; the name is a label, not a key. The record is a garbage-collection root until it is released, so routine maintenance should flush the WAL instead. This is a maintenance/admin operation, not a file mutation.
//
// Example:
//
//	request := &admin.CreateCheckpointRequest{
//	    NamespaceID: "namespace_id",
//	    Name: "name",
//	}
//	client.Admin.Checkpoints.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *admin.CreateCheckpointRequest,
	opts ...option.RequestOption,
) (*loonfs.Checkpoint, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Releases a user-owned checkpoint pin by id. Idempotent: releasing an already-released or reaped record succeeds. The record is reaped by a later garbage-collection pass; its pinned data becomes collectable only on the pass after that.
//
// Example:
//
//	request := &admin.ReleaseCheckpointRequest{
//	    NamespaceID: "namespace_id",
//	    CheckpointID: "checkpoint_id",
//	}
//	client.Admin.Checkpoints.Release(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Release(
	ctx context.Context,
	request *admin.ReleaseCheckpointRequest,
	opts ...option.RequestOption,
) (*loonfs.ReleaseCheckpointResponse, error) {
	response, err := c.WithRawResponse.Release(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
