// Code generated by Fern. DO NOT EDIT.

package snapshots

import (
	context "context"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists live snapshots in snapshot-id order. Released and expired snapshots are omitted.
//
// Example:
//
//	request := &loonfs.ListSnapshotsRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Snapshots.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *loonfs.ListSnapshotsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.SnapshotSummary, *loonfs.ListSnapshotsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/snapshots",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListSnapshotsResponse) *core.PageResponse[*string, *loonfs.SnapshotSummary, *loonfs.ListSnapshotsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetSnapshots()
		return &core.PageResponse[*string, *loonfs.SnapshotSummary, *loonfs.ListSnapshotsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a snapshot of the current namespace state. Every call creates a new snapshot.
//
// Example:
//
//	request := &loonfs.CreateSnapshotRequest{
//	    NamespaceID: "namespace_id",
//	    Name: "name",
//	    TTLMs: int64(1000000),
//	}
//	client.Snapshots.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *loonfs.CreateSnapshotRequest,
	opts ...option.RequestOption,
) (*loonfs.SnapshotSummary, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Extends a live snapshot without passing its lifetime limit. Repeating the request has the same result.
//
// Example:
//
//	request := &loonfs.ExtendSnapshotRequest{
//	    NamespaceID: "namespace_id",
//	    SnapshotID: "snapshot_id",
//	    TTLMs: int64(1000000),
//	}
//	client.Snapshots.Extend(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Extend(
	ctx context.Context,
	request *loonfs.ExtendSnapshotRequest,
	opts ...option.RequestOption,
) (*loonfs.SnapshotSummary, error) {
	response, err := c.WithRawResponse.Extend(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Releases a snapshot by id. Repeated releases succeed.
//
// Example:
//
//	request := &loonfs.ReleaseSnapshotRequest{
//	    NamespaceID: "namespace_id",
//	    SnapshotID: "snapshot_id",
//	}
//	client.Snapshots.Release(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Release(
	ctx context.Context,
	request *loonfs.ReleaseSnapshotRequest,
	opts ...option.RequestOption,
) (*loonfs.ReleaseSnapshotResponse, error) {
	response, err := c.WithRawResponse.Release(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
