// Code generated by Fern. DO NOT EDIT.

package admin

import (
	context "context"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists one page of active checkpoints in checkpoint-id order. Expired checkpoints remain visible until collection releases them. Released checkpoints are omitted. The cursor resumes a live listing and does not create a snapshot.
//
// Example:
//
//	request := &loonfs.ListCheckpointsRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.ListCheckpoints(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListCheckpoints(
	ctx context.Context,
	request *loonfs.ListCheckpointsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.Checkpoint, *loonfs.ListCheckpointsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/admin/namespaces/%v/checkpoints",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListCheckpointsResponse) *core.PageResponse[*string, *loonfs.Checkpoint, *loonfs.ListCheckpointsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetCheckpoints()
		return &core.PageResponse[*string, *loonfs.Checkpoint, *loonfs.ListCheckpointsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a named, user-owned checkpoint record pinning the current namespace view. Every call mints a new record under a new id; the name is a label, not a key. The record is a garbage-collection root until it is released, so routine maintenance should flush the WAL instead. This is a maintenance/admin operation, not a file mutation.
//
// Example:
//
//	request := &loonfs.CreateCheckpointRequest{
//	    NamespaceID: "namespace_id",
//	    Name: "name",
//	}
//	client.Admin.CreateCheckpoint(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateCheckpoint(
	ctx context.Context,
	request *loonfs.CreateCheckpointRequest,
	opts ...option.RequestOption,
) (*loonfs.CreateCheckpointResponse, error) {
	response, err := c.WithRawResponse.CreateCheckpoint(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Releases a user-owned checkpoint pin by id. Idempotent: releasing an already-released or reaped record succeeds. The record is reaped by a later garbage-collection pass; its pinned data becomes collectable only on the pass after that.
//
// Example:
//
//	request := &loonfs.ReleaseCheckpointRequest{
//	    NamespaceID: "namespace_id",
//	    CheckpointID: "checkpoint_id",
//	}
//	client.Admin.ReleaseCheckpoint(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ReleaseCheckpoint(
	ctx context.Context,
	request *loonfs.ReleaseCheckpointRequest,
	opts ...option.RequestOption,
) (*loonfs.ReleaseCheckpointResponse, error) {
	response, err := c.WithRawResponse.ReleaseCheckpoint(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns namespace state together with the current manifest and visible WAL tail.
//
// Example:
//
//	request := &loonfs.GetNamespaceDiagnosticsRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.GetNamespaceDiagnostics(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetNamespaceDiagnostics(
	ctx context.Context,
	request *loonfs.GetNamespaceDiagnosticsRequest,
	opts ...option.RequestOption,
) (*loonfs.NamespaceDiagnostics, error) {
	response, err := c.WithRawResponse.GetNamespaceDiagnostics(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns whether the namespace's grep index is `disabled`, `backfilling`, or `active`, including build progress when available. A namespace that has never enabled the index is `disabled`. This operation requires a deployment that maintains grep indexes and does not change the index.
//
// Example:
//
//	request := &loonfs.GetGrepIndexStatusRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.GetGrepIndexStatus(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetGrepIndexStatus(
	ctx context.Context,
	request *loonfs.GetGrepIndexStatusRequest,
	opts ...option.RequestOption,
) (*loonfs.GrepIndexStatusResponse, error) {
	response, err := c.WithRawResponse.GetGrepIndexStatus(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Disables the namespace's grep root and clears its segment references with one durable compare-and-swap; index maintenance stops on its own once a step reads the disabled root. Explicit grep garbage collection later reclaims the segments. Idempotent. Requires this deployment to maintain the grep index.
//
// Example:
//
//	request := &loonfs.DisableGrepIndexRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.DisableGrepIndex(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DisableGrepIndex(
	ctx context.Context,
	request *loonfs.DisableGrepIndexRequest,
	opts ...option.RequestOption,
) (*loonfs.GrepIndexStatusResponse, error) {
	response, err := c.WithRawResponse.DisableGrepIndex(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Enables the namespace's grep root and asks this deployment's maintenance runner for the backfill's first step. The response reports the lifecycle and bookkeeping read after the transition: a fresh enable is `backfilling` with the sequence its checkpoint captured, while an already-enabled namespace answers with its current status. Idempotent. Requires this deployment to maintain the grep index.
//
// Example:
//
//	request := &loonfs.EnableGrepIndexRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.EnableGrepIndex(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) EnableGrepIndex(
	ctx context.Context,
	request *loonfs.EnableGrepIndexRequest,
	opts ...option.RequestOption,
) (*loonfs.GrepIndexStatusResponse, error) {
	response, err := c.WithRawResponse.EnableGrepIndex(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Runs one explicit garbage-collection pass over only this namespace's grep-owned extension keyspace. A tombstoned or absent namespace has aged extension state reaped; no grep garbage collection runs implicitly. `max_objects` bounds the reads the pass spends and returns a `next_cursor` when keys remain; resuming re-reads liveness and the grep root, so a cursor only skips enumeration. Requires this deployment to maintain the grep index.
//
// Example:
//
//	request := &loonfs.GrepGcRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.GcGrepIndex(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GcGrepIndex(
	ctx context.Context,
	request *loonfs.GrepGcRequest,
	opts ...option.RequestOption,
) (*loonfs.GrepGcResponse, error) {
	response, err := c.WithRawResponse.GcGrepIndex(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Runs one bounded maintenance step. The body selects the actions by naming them: `metadata` folds the WAL tail once it reaches the threshold and merges one bounded reorganization unit, `advance_retention: true` advances the retention floor, and `gc` runs one bounded garbage-collection pass. Selected actions run in that order, each reports separately, and an absent report means the body did not select that action. A body that selects nothing is rejected. Nothing surrenders replay history or sweeps objects unless the body asked for it. A deleted namespace accepts a step that selects `gc` alone, which is how its reclaimable state is collected; any other selection is refused. Step-driven GC defaults to 1024 candidates and returns its cursor for a later step rather than looping internally. Losing the root race is an outcome, not an error.
//
// Example:
//
//	request := &loonfs.MaintenanceStepRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Admin.MaintenanceStep(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) MaintenanceStep(
	ctx context.Context,
	request *loonfs.MaintenanceStepRequest,
	opts ...option.RequestOption,
) (*loonfs.MaintenanceStepResponse, error) {
	response, err := c.WithRawResponse.MaintenanceStep(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Proves the configured object store honours the create-if-absent, compare-and-swap, visibility, listing, and ranged-read semantics LoonFS depends on, and reports what it found check by check. Nothing runs this implicitly: a probe writes and deletes objects, all of them under a scratch prefix that is not a durable object family, and its last check deletes them and proves the prefix empty. A store that fails a check answers 200 with that check reported `failed` — the probe ran, and the answer is that the store is wrong. Optional capabilities a store declares it lacks answer `unsupported`, which is an answer rather than a fault. This route does not decide whether the deployment may serve presigned direct uploads: that trust comes from the endpoint allowlist, because a probe exercises the server's own request path and never a presigned capability handed to a client.
//
// Example:
//
//	request := map[string]any{
//	    "key": "value",
//	}
//	client.Admin.ProbeStore(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ProbeStore(
	ctx context.Context,
	request loonfs.StoreProbeRequest,
	opts ...option.RequestOption,
) (*loonfs.StoreProbeResponse, error) {
	response, err := c.WithRawResponse.ProbeStore(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
