// Code generated by Fern. DO NOT EDIT.

package inodes

import (
	context "context"
	io "io"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns the current path entry for a visible inode. Unknown or hidden inodes answer `inode_not_found`.
//
// Example:
//
//	request := &loonfs.GetInodeRequest{
//	    NamespaceID: "namespace_id",
//	    InodeID: "ino_123",
//	}
//	client.Inodes.GetInode(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetInode(
	ctx context.Context,
	request *loonfs.GetInodeRequest,
	opts ...option.RequestOption,
) (*loonfs.PathEntry, error) {
	response, err := c.WithRawResponse.GetInode(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists one page of a directory's children addressed by parent inode ID, in canonical name-key order. Inode addressing keeps a listing and its resumption on the same directory across concurrent renames or moves of the parent.
//
// Example:
//
//	request := &loonfs.ListInodeChildrenRequest{
//	    NamespaceID: "namespace_id",
//	    InodeID: "ino_123",
//	}
//	client.Inodes.ListInodeChildren(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListInodeChildren(
	ctx context.Context,
	request *loonfs.ListInodeChildrenRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.PathEntry, *loonfs.ListInodeChildrenResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/inodes/%v/children",
		request.NamespaceID,
		request.InodeID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListInodeChildrenResponse) *core.PageResponse[*string, *loonfs.PathEntry, *loonfs.ListInodeChildrenResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetEntries()
		return &core.PageResponse[*string, *loonfs.PathEntry, *loonfs.ListInodeChildrenResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns retained revisions for a file inode without requiring a current path.
//
// Example:
//
//	request := &loonfs.ListFileRevisionsByInodeRequest{
//	    NamespaceID: "namespace_id",
//	    InodeID: "ino_123",
//	}
//	client.Inodes.ListFileRevisionsByInode(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListFileRevisionsByInode(
	ctx context.Context,
	request *loonfs.ListFileRevisionsByInodeRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/inodes/%v/revisions",
		request.NamespaceID,
		request.InodeID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListFileRevisionsResponse) *core.PageResponse[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetRevisions()
		return &core.PageResponse[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Reads and verifies one retained file revision by inode ID and revision number.
//
// Example:
//
//	request := &loonfs.GetFileRevisionBytesByInodeRequest{
//	    NamespaceID: "namespace_id",
//	    InodeID: "inode_id",
//	    RevisionNo: int64(1000000),
//	}
//	client.Inodes.GetFileRevisionBytesByInode(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetFileRevisionBytesByInode(
	ctx context.Context,
	request *loonfs.GetFileRevisionBytesByInodeRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.GetFileRevisionBytesByInode(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Authorizes a direct read of one retained inode revision. The request body is `{}` and the response does not include a path.
//
// Example:
//
//	request := &loonfs.CreateDownloadByInodeRequest{
//	    NamespaceID: "namespace_id",
//	    InodeID: "ino_123",
//	    RevisionNo: int64(1000000),
//	    Body: map[string]any{
//	        "key": "value",
//	    },
//	}
//	client.Inodes.CreateDownloadByInode(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateDownloadByInode(
	ctx context.Context,
	request *loonfs.CreateDownloadByInodeRequest,
	opts ...option.RequestOption,
) (*loonfs.BeginDownloadByInodeResponse, error) {
	response, err := c.WithRawResponse.CreateDownloadByInode(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
