// Code generated by Fern. DO NOT EDIT.

package namespaces

import (
	context "context"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Creates a new empty namespace.
//
// Example:
//
//	request := &loonfs.CreateNamespaceRequest{
//	    NamespaceID: "demo",
//	}
//	client.Namespaces.CreateNamespace(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateNamespace(
	ctx context.Context,
	request *loonfs.CreateNamespaceRequest,
	opts ...option.RequestOption,
) (*loonfs.Namespace, error) {
	response, err := c.WithRawResponse.CreateNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the current head and retention state for a namespace.
//
// Example:
//
//	request := &loonfs.GetNamespaceRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Namespaces.GetNamespace(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetNamespace(
	ctx context.Context,
	request *loonfs.GetNamespaceRequest,
	opts ...option.RequestOption,
) (*loonfs.Namespace, error) {
	response, err := c.WithRawResponse.GetNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Marks a namespace as deleted.
//
// Example:
//
//	request := &loonfs.DeleteNamespaceRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Namespaces.DeleteNamespace(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeleteNamespace(
	ctx context.Context,
	request *loonfs.DeleteNamespaceRequest,
	opts ...option.RequestOption,
) (*loonfs.DeleteNamespaceResponse, error) {
	response, err := c.WithRawResponse.DeleteNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates a new namespace as a fork from the source namespace's current durable view.
//
// Example:
//
//	request := &loonfs.ForkNamespaceRequest{
//	    NamespaceID: "namespace_id",
//	    NewNamespaceID: "demo",
//	}
//	client.Namespaces.ForkNamespace(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ForkNamespace(
	ctx context.Context,
	request *loonfs.ForkNamespaceRequest,
	opts ...option.RequestOption,
) (*loonfs.Namespace, error) {
	response, err := c.WithRawResponse.ForkNamespace(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists live snapshots in snapshot-id order. Released and expired snapshots are omitted.
//
// Example:
//
//	request := &loonfs.ListSnapshotsRequest{
//	    NamespaceID: "namespace_id",
//	}
//	client.Namespaces.ListSnapshots(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListSnapshots(
	ctx context.Context,
	request *loonfs.ListSnapshotsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.SnapshotSummary, *loonfs.ListSnapshotsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/snapshots",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListSnapshotsResponse) *core.PageResponse[*string, *loonfs.SnapshotSummary, *loonfs.ListSnapshotsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetSnapshots()
		return &core.PageResponse[*string, *loonfs.SnapshotSummary, *loonfs.ListSnapshotsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a snapshot of the current namespace state. Every call creates a new snapshot.
//
// Example:
//
//	request := &loonfs.CreateSnapshotRequest{
//	    NamespaceID: "namespace_id",
//	    Name: "name",
//	    TTLMs: int64(1000000),
//	}
//	client.Namespaces.CreateSnapshot(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateSnapshot(
	ctx context.Context,
	request *loonfs.CreateSnapshotRequest,
	opts ...option.RequestOption,
) (*loonfs.SnapshotSummary, error) {
	response, err := c.WithRawResponse.CreateSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Extends a live snapshot without passing its lifetime limit. Repeating the request has the same result.
//
// Example:
//
//	request := &loonfs.ExtendSnapshotRequest{
//	    NamespaceID: "namespace_id",
//	    SnapshotID: "snapshot_id",
//	    TTLMs: int64(1000000),
//	}
//	client.Namespaces.ExtendSnapshot(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ExtendSnapshot(
	ctx context.Context,
	request *loonfs.ExtendSnapshotRequest,
	opts ...option.RequestOption,
) (*loonfs.SnapshotSummary, error) {
	response, err := c.WithRawResponse.ExtendSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Releases a snapshot by id. Repeated releases succeed.
//
// Example:
//
//	request := &loonfs.ReleaseSnapshotRequest{
//	    NamespaceID: "namespace_id",
//	    SnapshotID: "snapshot_id",
//	}
//	client.Namespaces.ReleaseSnapshot(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ReleaseSnapshot(
	ctx context.Context,
	request *loonfs.ReleaseSnapshotRequest,
	opts ...option.RequestOption,
) (*loonfs.ReleaseSnapshotResponse, error) {
	response, err := c.WithRawResponse.ReleaseSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
