// Code generated by Fern. DO NOT EDIT.

package files

import (
	context "context"
	io "io"
	http "net/http"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Returns the current file bytes, a retained revision, or the revision captured by a live snapshot.
//
// Example:
//
//	request := &loonfs.GetFileBytesRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	}
//	client.Files.Content(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Content(
	ctx context.Context,
	request *loonfs.GetFileBytesRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.Content(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.
//
// Example:
//
//	request := &loonfs.BeginDownloadRequest{
//	    NamespaceID: "namespace_id",
//	    SnapshotID: loonfs.String(
//	        "chk_00000000000000000000000000000002",
//	    ),
//	    Path: "/docs/report.txt",
//	}
//	client.Files.CreateDownload(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateDownload(
	ctx context.Context,
	request *loonfs.BeginDownloadRequest,
	opts ...option.RequestOption,
) (*loonfs.BeginDownloadResponse, error) {
	response, err := c.WithRawResponse.CreateDownload(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists a directory from the current state or a live snapshot.
//
// Example:
//
//	request := &loonfs.ListPathEntriesRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	    SnapshotID: loonfs.String(
//	        "chk_00000000000000000000000000000002",
//	    ),
//	}
//	client.Files.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *loonfs.ListPathEntriesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.PathEntry, *loonfs.ListPathEntriesResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/filesystem/entries",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListPathEntriesResponse) *core.PageResponse[*string, *loonfs.PathEntry, *loonfs.ListPathEntriesResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetEntries()
		return &core.PageResponse[*string, *loonfs.PathEntry, *loonfs.ListPathEntriesResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns path metadata from the current state or a live snapshot.
//
// Example:
//
//	request := &loonfs.GetPathEntryRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	    SnapshotID: loonfs.String(
//	        "chk_00000000000000000000000000000002",
//	    ),
//	}
//	client.Files.Retrieve(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Retrieve(
	ctx context.Context,
	request *loonfs.GetPathEntryRequest,
	opts ...option.RequestOption,
) (*loonfs.PathEntry, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.
//
// Example:
//
//	request := &loonfs.ListFileRevisionsRequest{
//	    NamespaceID: "namespace_id",
//	    Path: "path",
//	}
//	client.Files.ListRevisions(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListRevisions(
	ctx context.Context,
	request *loonfs.ListFileRevisionsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/filesystem/revisions",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.ListFileRevisionsResponse) *core.PageResponse[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetRevisions()
		return &core.PageResponse[*string, *loonfs.FileRevision, *loonfs.ListFileRevisionsResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Searches file content with a regular expression, accelerated by the namespace's grep index. Matches are verified against the real pattern and returned in ascending `(inode_id, byte_offset)` order; revisions committed after the index watermark are scanned exhaustively unless `allow_stale` skips them. Requires this deployment to serve grep and the namespace to carry a materialized active grep root.
//
// Example:
//
//	request := &loonfs.GrepRequest{
//	    NamespaceID: "namespace_id",
//	    Pattern: "pattern",
//	}
//	client.Files.Grep(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Grep(
	ctx context.Context,
	request *loonfs.GrepRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *loonfs.GrepMatch, *loonfs.GrepResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v0/namespaces/%v/grep",
		request.NamespaceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(loonfs.ErrorCodes),
		}
	}
	readPageResponse := func(response *loonfs.GrepResponse) *core.PageResponse[*string, *loonfs.GrepMatch, *loonfs.GrepResponse] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetMatches()
		return &core.PageResponse[*string, *loonfs.GrepMatch, *loonfs.GrepResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
