// Code generated by Fern. DO NOT EDIT.

package commits

import (
	context "context"

	loonfs "github.com/loonfs/loonfs-sdk-go"
	core "github.com/loonfs/loonfs-sdk-go/core"
	internal "github.com/loonfs/loonfs-sdk-go/internal"
	option "github.com/loonfs/loonfs-sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. Request assertions check the pre-state after receipt resolution and before operations; a failed assertion names its position in `details.assertion_index`. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.
//
// Example:
//
//	request := &loonfs.CommitRequest{
//	    NamespaceID: "namespace_id",
//	    ActorID: "usr_8f3c",
//	    CommitID: "c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
//	    Operations: []*loonfs.FilesystemOperation{
//	        &loonfs.FilesystemOperation{
//	            CopyPath: &loonfs.FilesystemOperationCopyPath{
//	                FromPath: "/docs/report.txt",
//	                ToPath: "/docs/report.txt",
//	            },
//	        },
//	    },
//	}
//	client.Commits.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *loonfs.CommitRequest,
	opts ...option.RequestOption,
) (*loonfs.CommitResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
